# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [1]:
a=[1,2,3,4,5,6,7,8,9,10]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Append to the list the number 20

In [2]:
a.append(20)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

3. Insert two zeros after the fourth place of the list

In [3]:
a.insert(4,0)
a

[1, 2, 3, 4, 0, 5, 6, 7, 8, 9, 10, 20]

In [4]:
a.insert(4,0)
a

[1, 2, 3, 4, 0, 0, 5, 6, 7, 8, 9, 10, 20]

4. Sort the list in reverse order

In [5]:
a.reverse()
a

[20, 10, 9, 8, 7, 6, 5, 0, 0, 4, 3, 2, 1]

5. Remove the last two items from the list

In [6]:
a.pop()
a

[20, 10, 9, 8, 7, 6, 5, 0, 0, 4, 3, 2]

In [7]:
a.pop()
a

[20, 10, 9, 8, 7, 6, 5, 0, 0, 4, 3]

6. Invert the order of the list

In [8]:
a.reverse()
a

[3, 4, 0, 0, 5, 6, 7, 8, 9, 10, 20]

7. How many items has the list?

In [9]:
len(a)

11

8. Give the minimum, maximum and the sum of all the items in the list

In [10]:
max(a)

20

In [11]:
sum(a)

72

In [12]:
min(a)

0

9. What will happen if you multiply the list by 2?

In [13]:
print(a*2)

[3, 4, 0, 0, 5, 6, 7, 8, 9, 10, 20, 3, 4, 0, 0, 5, 6, 7, 8, 9, 10, 20]

10. Can you divide the list by 3?

In [14]:
print(a/3)

TypeError: unsupported operand type(s) for /: 'list' and 'int'

# Tupples
 
1. Create a tupple with three characters and four numbers

In [15]:
b=(2,2,1,0,'a','v','g')
b

(2, 2, 1, 0, 'a', 'v', 'g')

2. Append two booleans (false, true) to the tupple

In [18]:
b=b+(False,)
b

(2, 2, 1, 0, 'a', 'v', 'g', False)

In [19]:
b=b+(True,)
b

(2, 2, 1, 0, 'a', 'v', 'g', False, True)

3. Retrieve the third to sixth items from the tupple

In [22]:
b[2:6]

(1, 0, 'a', 'v')

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [23]:
b=(([2,2,1,0]),(['a','v','g']),([True,False]))
b

([2, 2, 1, 0], ['a', 'v', 'g'], [True, False])

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

In [32]:
txt="Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
c=txt.split()
c

['Shallow',
 'copy',
 'is',
 'a',
 'bit-wise',
 'copy',
 'of',
 'an',
 'object.',
 'A',
 'new',
 'object',
 'is',
 'created',
 'that',
 'has',
 'an',
 'exact',
 'copy',
 'of',
 'the',
 'values',
 'in',
 'the',
 'original',
 'object']

2. Do you see something wierd in this set? What? How can you prevent that?

Dictionary¶
Generate a dictionary from the following table:
EmployeeID	Name	Position	Phone
1020	Harry Smith	Sales Manager	030-223.65.44
2201	Margaret Holsum	Sales Representative	030-223.64.12
3320	Lasly Howard	Human Resources	030-223.83.33
8111	Larry Johnson	Project Manager	030-224.22.00
2733	Hellen Young	Customer Service	030-223.03.20

1. Get all the keys of the dictionary

In [33]:
{'EmployeeID':1020,'Name':'Harry Smith','Position':'Sales Manager','Phone':'030-223.65.44'}
{'EmployeeID':2201,'Name':'Margaret Holsum','Position':'Sales Representativr','Phone':'030-223.64.12'},
{'EmployeeID':3320,'Name':'Lasly Howard','Position':'Human Resources','Phone':'030-223.83.33'},
{'EmployeeID':8111,'Name':'Larry Johnson','Position':'Project Manager','Phone':'030-224.22.00'},
{'EmployeeID':2733,'Name':'Hellen Young','Position':'Customer Servicer','Phone':'030-223.03.20'}

{'EmployeeID': 2733,
 'Name': 'Hellen Young',
 'Position': 'Customer Servicer',
 'Phone': '030-223.03.20'}

2. Get all the values of the dictionary

In [34]:
c['EmployeeID','Name','Position','Phone']

KeyError: ('EmployeeID', 'Name', 'Position', 'Phone')

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

2. Write a different solution to the problem in the last question, but using while.. in place of for..